{% extends 'base.html.twig' %}


{% block title %}Formulaire de connexion{% endblock %}

{% block body %}    
<h1>Formulaire de connexion</h1>

    <form action="" method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>

{% endblock %}
